body {
    background: url(../img/resort.jpg) no-repeat fixed;
    background-size: 100%;
}

.header {
    position: sticky;
    top: 0;
}

.header,
.header__menu,
.main__container {
    display: flex;
}

.header,
.main {
    background-color: rgb(224, 224, 224);
}

.header__link {
    padding: 10px 20%;
    font-size: 2rem;
}

.header__link,
.item__link {
    display: block;
}

.header__link,
.header__heading,
.main__link,
.item__link {
    color: brown;
}

.header__link:hover {
    background-color: darkcyan;
}

.header__heading {
    padding: 10px 15% 10px 5%;
    font-size: 2.5rem;
}

.main {
    margin: 0 auto;
    width: 80%;
}

.container__item {
    width: 30%;
    margin: 2%;
}

.item__img {
    width: 100%;
}

.item__img:hover {
    transform: scale(1.1);
    transition: all 2s;
}

.main__link {
    font-size: 1.5rem;
    margin-left: 4%;
}

.main__link,
.item__link,
.header__link {
    text-decoration: none;
}

.main__link:hover {
    color: rgb(226, 43, 43);
}

.item__link {
    width: 30%;
    padding: 10px;
    background-color: rgb(223, 199, 62);
}

.item__link:hover {
    background-color: rgb(182, 160, 37);
}