/* 1 */ body { 
    background: url(../img/resort.jpg) no-repeat fixed;
    background-size: 100%;
}

/* 10 */ .header {
    width: 100%;
    position: sticky;
    top: 0;
}

/* 10 */ .header,
.main__container,
.footer,
.header__nav {
    display: flex;
}

/* 10 */ .header__nav {
    width: 65%;
}

/* 10 */ .header,
.main,
.footer,
.header__nav--mod {
    background-color: rgb(224, 224, 224);
}

/* 10 */ .item__link,
.nav__item,
.header__main__link,
.main__text,
/* 30 */ .nav__item--mod:hover .header__nav--mod {
    display: block;
}

/* 10 */ .header__heading,
.main__link,
.item__link,
.footer__heading,
.header__link,
.header__link--mod,
.header__main__link {
    color: brown;
}

/* 10 */ .header__heading,
.header__main__link {
    width: 35%;
    margin: 10px 0 10px 4%;
    font-size: 2.5rem;
}

/* 10 */ .header__nav--mod {
    width: 80%;
    display: none;
    position: absolute;
}

/* 10 */ .nav__item,
.nav__item--mod {
    width: 24%;
    margin:15px auto;
}

/* 10 */ .nav__item--mod {
    position: relative;
}

/* 10 */ .header__link,
.additional__heading {
    font-size: 2rem;
}

/* 10 */ .main {
    margin: 0 auto;
    width: 80%;
}

/* 10 */ .container__item,
.footer__container {
    width: 30%;
    margin: 2%;
}

/* 10 */ .item__img,
.main__picture img {
    width: 100%;
}

/* 20 */ .item__img:hover {
    transform: scale(1.1);
    transition: all 1s;
}

/* 10 */ .main__link {
    font-size: 1.5rem;
    margin-left: 4%;
}

/* 10 */ .main__link,
.item__link,
.header__link,
.header__link--mod,
.header__main__link {
    text-decoration: none;
}

/* 20 */ .main__link:hover,
.footer__text--mod:hover,
.header__link:hover,
.header__link--mod:hover,
.header__main__link:hover {
    color: rgb(226, 43, 43);
    text-decoration: underline;
}

/* 10 */ .item__link {
    width: fit-content;
    margin-top: 15px;
    padding: 10px;
    background-color: rgb(223, 199, 62);
    white-space: nowrap;
}

/* 20 */ .item__link:hover {
    background-color: rgb(182, 160, 37);
}

/* 10 */ .footer__heading {
    font-size: 1.1rem;
    padding-bottom: 10px;
}

/* 10 */ .main__heading {
    font-size: 3rem;
}

/* 10 */ .main__heading,
.additional__heading {
    text-align: center;
}

/* 10 */ .container__img {
    overflow: hidden;
}

/* 10 */ .main__list {
    list-style-type:disc;
}

/* 10 */ .main__text,
.main__list {
    padding: 15px 0 50px 3%;
}

.main__picture {
    margin: 0 auto;
    width: 50%;
}